
body {

    width: 1000px;

    margin: 0 auto;

    border-right: 1px solid #99CC33;

    padding: 0px;

    background: white;

    color: black;

    font-family: 'Lato', sans-serif;

    text-align: left;

}

article {

    padding: 20px;

}



hr {

    color: gray;

}

a {

    color: red;

    text-decoration: none;

}

a .header-red {

    font-weight: 400;

    font-size: 150%;

    text-align: left;

    color: red;

    margin-bottom: 5px;

    padding-right: 30px;

}

a .header-black {

    font-size: 100%;

    font-weight: 300;

    text-align: left;

    color: gray;

    margin-bottom: 5px;

}

article > h2 {

    text-transform: capitalize;

    text-align: left;

    color: black;

}

h3 {

    text-transform: capitalize;

    font-weight: 400;
    font-size: 200%;
    color: gray;

    text-align: left;

}

img {

    float: left;

    width: 700px;

    margin-top: 10px;

    margin-bottom: 10px;

}

.main-content {

    border-top: 1px solid #99CC33;

    border-left: 1px solid #99CC33;

    border-right: 1px solid #99CC33;

    float: left;

    width: 700px;

}

.sidebar {

    border-top: 1px solid #99CC33;

    border-left: 1px solid #99CC33;

    border-right: 1px solid #99CC33;

    height: 1000px;

    width: 215px;

    float: right;

    margin-top: 70px;

    margin-right: 5px;

    padding: 5px 0 0 5px;

    color: gray;

    line-height: 1.5em;

}

article h4 {

    color: red;

    text-align: right;

    font-style: bold;

}

.advertisement {

    margin-top: 100px;

    border-top: 1px solid #99CC33;

    border-left: 1px solid #99CC33;

    border-right: 1px solid #99CC33;

    border-bottom: 1px solid #99CC33;

    width: 50px;

    height: 50px;

}

p > strong {

    color: gray;

    font-size: 60px;

    padding: 0 0 10px 10px;

    text-align: left;

}

/*
.first-letter {
    font-size:3em;
    float:left;
    margin 10px 10px 0px 0;
color:#ccc;
}
*/

p:first-letter {

    color: gray;

    font-size: 6em;

    float: left;

    text-align: top;

    margin: -20px 10px 0px 0;

}

.sidebar ul {

    font-size: small;

    text-align: left;

}

.sidebar li {

    list-style: none;

    color: red;

    padding-left: -4px;

    margin-right: 2px;

}

.sidebar li:before {

    color: gray;

    /* /2022 is the numerical unicode for &bull; */

    content: "\2022";

    font-size: 1em;

    padding-left: -4px;

    padding-right: .25em;

}

nav {

    font-family: 'Lato';

    font-style: bold;

    font-size: x-large;

    text-align: center;

}

nav a {

    text-decoration: none;

    color: white;

    background: black;

    padding-top: 10px;

    padding-bottom: 10px;

    padding-left: 30px;

    padding-right: 30px;

}